workDir = "./work"
scratch = "./"
time='24h'

process {
    withName: FASTQC {
        time='24h'
        conda = "$projectDir/conda/fastqc.yml"        
    }

    withName: FIND_ADAPTERS {
        conda = "$projectDir/conda/adapters.yml"
    }

    withName: FASTP {
        time='24h'
        conda = "$projectDir/conda/fastp.yml"
    }

    withName: rRNA_REMOVAL {
        conda = "$projectDir/conda/bowtie.yml"

    withName: SALMON_QUANT {
        singularity = "$projectDir/singularity/salmon:1.10.1--h7e5ed60_0"
    }

    withName: TXIMPORT {
        conda = "$projectDir/conda/tximport.yml"
    }
    }
}

conda.enabled = true
singularity.enabled = true

// define different profiles

profiles {

    // Defines the dynamic use of cpus
    standard {
        process {
            withLabel: 'cpu_12' {
                cpus = 12
            }
        }
    }

    singularity {
        enabled = true
        cacheDir = './singularity'
        process.container = "$projectDir/singularity/salmon:1.10.1--h7e5ed60_0"
    }
    docker {
        enabled = true
        process.container = 'pipeline-image:latest'
    }
    conda {
        enabled = true
    }

    standard {
   	    includeConfig 'config/standard.config'
    }
    hpc_slurm {
        includeConfig 'config/slurm.config'
    } 
    lsf {
        includeConfig 'config/lsf.config'
    }
}